<footer class="bg-red-100">
    <div class="mx-auto max-w-screen-xl space-y-8 px-4 py-16 sm:px-6 lg:space-y-16 lg:px-8">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
        <div>
          <div class="text-5xl">
            LOGO
          </div>
  
          <p class="mt-4 max-w-xs text-gray-500">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse non cupiditate quae nam
            molestias.
          </p>
  
          <ul class="mt-8 flex gap-6 text-red-500 text-[28px] ">
            <li><a href="#"><i class="bi bi-facebook hover:text-black transition-all duration-300 ease-in-out"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter-x hover:text-black transition-all duration-300 ease-in-out"></i></a></li>
            <li><a href="#"><i class="bi bi-instagram hover:text-black transition-all duration-300 ease-in-out"></i></a></li>
            <li><a href="#"><i class="bi bi-linkedin hover:text-black transition-all duration-300 ease-in-out"></i></a></li>
          </ul>
        </div>
  
        <div class="grid grid-cols-2 gap-8 sm:grid-cols-2 lg:col-span-2 lg:grid-cols-4">
          <div>
            <p class="font-medium text-gray-900">Useful Links</p>
  
            <ul class="mt-6 space-y-4 text-sm">
              <li><a href="/index.html" class="text-gray-700 transition hover:opacity-75"> Home </a></li>
              <li><a href="/pages/about.html" class="text-gray-700 transition hover:opacity-75"> About </a></li>
              <li><a href="/pages/faq.html" class="text-gray-700 transition hover:opacity-75"> FAQ </a></li>
              <li><a href="/pages/contact.html" class="text-gray-700 transition hover:opacity-75"> Contact </a></li>
            </ul>
          </div>
  
          <div>
            <p class="font-medium text-gray-900">Popular Topics</p>
  
            <ul class="mt-6 space-y-4 text-sm">
              <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Accounting </a></li>
              <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Banking </a></li>
              <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Business </a></li>
              <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Economics </a></li>
            </ul>
          </div>
  
          <div>
            <p class="font-medium text-gray-900">Helpful Links</p>
  
            <ul class="mt-6 space-y-4 text-sm">
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75"> Contact </a>
              </li>
  
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75"> FAQs </a>
              </li>
  
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75"> Live Chat </a>
              </li>
            </ul>
          </div>
  
          <div>
            <p class="font-medium text-gray-900">Legal</p>
  
            <ul class="mt-6 space-y-4 text-sm">
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75"> Accessibility </a>
              </li>
  
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75"> Returns Policy </a>
              </li>
  
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75"> Refund Policy </a>
              </li>
  
            </ul>
          </div>
        </div>
      </div>
  
      <p class="text-xs text-gray-500 text-center">&copy; 2025. Company Name. All rights reserved.</p>
    </div>
  </footer>

  <script src="../assets/js/script.js"></script>