<footer class="bg-red-100">
    <div class="mx-auto max-w-screen-xl space-y-8 px-4 py-16 sm:px-6 lg:space-y-16 lg:px-8">
      <div class="flex md:flex-nowrap flex-wrap justify-between gap-5">

         <div class="w-full md:w-3/12">       
          <div class="text-5xl">
            LOGO
          </div>
  
          <p class="mt-4 md:max-w-xs text-gray-500">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse non cupiditate quae nam
            molestias. Lorem ipsum dolor, sit amet consectetur adipisicing
          </p> 
         </div>

          <div class="w-full md:w-2/12">
            <p class="font-medium text-gray-900">Useful Links</p>
  
            <ul class="mt-6 space-y-4 text-sm">
              <li><a href="/pages/about.html" class="text-gray-700 transition hover:opacity-75"> About </a></li>
              <li><a href="/pages/faq.html" class="text-gray-700 transition hover:opacity-75"> FAQ </a></li>
              <li><a href="/pages/contact.html" class="text-gray-700 transition hover:opacity-75"> Contact </a></li>
              <li><a href="/pages/blog.html" class="text-gray-700 transition hover:opacity-75"> Blogs </a></li>
            </ul>
          </div>
  
          <div class="w-full md:w-2/12">
            <p class="font-medium text-gray-900">Popular Topics</p>
  
            <ul class="mt-6 space-y-4 text-sm">
              <li><a href="/pages/category.html" class="text-gray-700 transition hover:opacity-75"> Accounting </a></li>
              <li><a href="/pages/category.html" class="text-gray-700 transition hover:opacity-75"> Banking </a></li>
              <li><a href="/pages/category.html" class="text-gray-700 transition hover:opacity-75"> Business </a></li>
              <li><a href="/pages/category.html" class="text-gray-700 transition hover:opacity-75"> Economics </a></li>
            </ul>
          </div>
  
          <div class="w-full md:w-2/12">
            <p class="font-medium text-gray-900">Support</p>
  
            <ul class="mt-6 space-y-4 text-sm">
              <li>
                <a href="/pages/privacy.html" class="text-gray-700 transition hover:opacity-75"> Privacy Policy </a>
              </li>
  
              <li>
                <a href="/pages/faq.html" class="text-gray-700 transition hover:opacity-75"> FAQ's </a>
              </li>
  
              <li>
                <a href="/pages/terms.html" class="text-gray-700 transition hover:opacity-75"> Terms & Conditions </a>
              </li>
            </ul>
          </div>
  
          <div  class="w-full md:w-3/12">
            <p class="font-medium text-gray-900">Contact</p>
  
            <ul class="mt-6 space-y-4 text-sm">
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75"> <i class="bi bi-geo-alt-fill text-red-500"></i> 123 Conference St, City, Country </a>
              </li>
  
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75"><i class="bi bi-telephone-fill text-red-500"></i> +123 456 7890</a>
              </li>
  
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75"><i class="bi bi-envelope-fill text-red-500"></i> contact@conference.com</a>
              </li>
  
            </ul>

            <ul class="mt-8 flex gap-6 text-red-500 text-[24px] ">
              <li><a href="#"><i class="bi bi-facebook hover:text-black transition-all duration-300 ease-in-out"></i></a></li>
              <li><a href="#"><i class="bi bi-twitter-x hover:text-black transition-all duration-300 ease-in-out"></i></a></li>
              <li><a href="#"><i class="bi bi-instagram hover:text-black transition-all duration-300 ease-in-out"></i></a></li>
              <li><a href="#"><i class="bi bi-linkedin hover:text-black transition-all duration-300 ease-in-out"></i></a></li>
            </ul>
          </div>
      </div>
  
      <p class="w-full text-xs text-gray-500 text-center">&copy; 2025. Company Name. All rights reserved.</p>
    </div>
  </footer>




  <!-- <footer class="bg-red-100">
    <div class="mx-auto max-w-screen-xl space-y-8 px-4 py-16 sm:px-6 lg:space-y-16 lg:px-8">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
        <div>
          <div class="text-5xl">
            LOGO
          </div>
  
          <p class="mt-4 max-w-xs text-gray-500">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse non cupiditate quae nam
            molestias.
          </p>
  
          <ul class="mt-8 flex gap-6 text-red-500 text-[28px] ">
            <li><a href="#"><i class="bi bi-facebook hover:text-black transition-all duration-300 ease-in-out"></i></a></li>
            <li><a href="#"><i class="bi bi-twitter-x hover:text-black transition-all duration-300 ease-in-out"></i></a></li>
            <li><a href="#"><i class="bi bi-instagram hover:text-black transition-all duration-300 ease-in-out"></i></a></li>
            <li><a href="#"><i class="bi bi-linkedin hover:text-black transition-all duration-300 ease-in-out"></i></a></li>
          </ul>
        </div>
  
        <div class="grid grid-cols-2 gap-8 sm:grid-cols-2 lg:col-span-2 lg:grid-cols-4">
          <div>
            <p class="font-medium text-gray-900">Useful Links</p>
  
            <ul class="mt-6 space-y-4 text-sm">
              <li><a href="/pages/about.html" class="text-gray-700 transition hover:opacity-75"> About </a></li>
              <li><a href="/pages/faq.html" class="text-gray-700 transition hover:opacity-75"> FAQ </a></li>
              <li><a href="/pages/contact.html" class="text-gray-700 transition hover:opacity-75"> Contact </a></li>
            </ul>
          </div>
  
          <div>
            <p class="font-medium text-gray-900">Popular Topics</p>
  
            <ul class="mt-6 space-y-4 text-sm">
              <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Accounting </a></li>
              <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Banking </a></li>
              <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Business </a></li>
              <li><a href="#" class="text-gray-700 transition hover:opacity-75"> Economics </a></li>
            </ul>
          </div>
  
          <div>
            <p class="font-medium text-gray-900">Support</p>
  
            <ul class="mt-6 space-y-4 text-sm">
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75"> Contact </a>
              </li>
  
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75"> FAQs </a>
              </li>
  
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75"> Live Chat </a>
              </li>
            </ul>
          </div>
  
          <div>
            <p class="font-medium text-gray-900">Contact</p>
  
            <ul class="mt-6 space-y-4 text-sm">
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75"> <i class="bi bi-geo-alt-fill text-red-500"></i> 123 Conference St, City, Country </a>
              </li>
  
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75"><i class="bi bi-telephone-fill text-red-500"></i> +123 456 7890</a>
              </li>
  
              <li>
                <a href="#" class="text-gray-700 transition hover:opacity-75"><i class="bi bi-envelope-fill text-red-500"></i> contact@conference.com</a>
              </li>
  
            </ul>
          </div>
        </div>
      </div>
  
      <p class="text-xs text-gray-500 text-center">&copy; 2025. Company Name. All rights reserved.</p>
    </div>
  </footer> -->

