<header class="header fixed top-0 left-0 w-full bg-transparent  text-white shadow-md z-50 transition-all ease-in-out">
    <div class="container mx-auto flex items-center justify-between gap-3 py-4 px-6 relative">
      <!-- Logo -->
      <div class="font-bold text-xl">Logo</div>

      <!-- Navigation -->
      <nav id="menu" class="md:flex md:items-center space-x-6 hidden md:relative absolute md:bg-transparent bg-white top-0 left-0 md:py-0 px-0 md:flex-row md:gap-0 md:w-fit w-full flex-col gap-4 py-8">
        <ul class="list-none flex md:flex-row flex-col md:ml-0 ml-6 md:space-x-6 space-y-4 md:space-y-0 w-full md:w-auto ">
        <li><a href="index.html" class="hover:text-red-500 transition-all">Home</a></li>
        <li><a href="pages/about.html" class="hover:text-red-500 transition-all">About</a></li>
        <li><a href="pages/upcoming-conferences.html" class="hover:text-red-500 transition-all">Conferences</a></li>
        <li><a href="pages/contact.html" class="hover:text-red-500 transition-all">Contact</a></li>
        </ul>
        <!-- Search Field -->
        <div class="relative md:w-auto md:mb-0 mb-6">
          <input
        type="text"
        placeholder="Search..."
        class="pl-3 pr-10 py-2 border border-gray-300 rounded-md focus:ring focus:ring-red-300 search-field md:w-full bg-transparent"
          />
          <a href="/pages/search-results.html"
        class="search-btn absolute right-2 top-0 translate-y-1/2 text-gray-500 hover:text-black"
          >
        <i class="bi bi-search"></i>
        </a>
        </div>
         <!-- Button -->
        <a href="pages/add-event.html" class="bg-red-500 text-white border-[1px] border-red-500 rounded-sm font-medium px-4 py-3 hover:bg-white hover:text-red-500 transition-all duration-300 ease-in-out w-full md:w-auto text-center">
          <i class="bi bi-plus-lg"></i> Add Event
        </a>
      </nav>

      <i id="menu-toggle" class="bi bi-list md:hidden block cursor-pointer text-[25px] relative "></i>
  </header>


  <script src="../assets/js/script.js"></script>